* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);

    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
.btn:hover {
    opacity: 0.85;
}

a {
    text-decoration: none;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Header */

/* Navbar */
.fixed-header{
    background: #E6F0FF;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 14px;
}

.navbar ul a:hover {
    color: #7398f6;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 18px;
}

/* Hero */

/* Hero Infor */

.hero-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}

.hero {
    margin-top: 130px;
    display: flex;
}

.hero .infor {
    width: 51%;
}

.hero .infor .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.hero .infor .title {
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.19; /* 118.75% */
    margin-top: 8px;
}

.hero .infor .desc {
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
    margin-top: 40px;
}

.hero .infor .hero-cta {
    border-radius: 12px;
    min-width: 170px;
    margin-top: 40px;
}

/* Hero img */
.hero .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
    /* width: 584px;
    height: 619px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center; */
}

/* Content main */
/* Clients */
.clients {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .row .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}

/* Guides */
.guides .content {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
    content: "";
    display: inline-block;
    border-radius: 12px;
    background: #000339;
    width: 41px;
    height: 4px;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    margin-top: 20px;
}

/* List Guides */

.list-guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-items {
    margin: 0 70px;
    text-align: center;
}

.guide-items .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}
.guide-items .link {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}
.guide-items .link .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
    font-size: 1.3rem;
    border-radius: 12px;
}

/* Featured */
.featured {
    background: #f5fafe;
    margin-top: 41px;
    padding: 110px 0 110px;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.featured .row .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

.featured .row .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    font-size: 1.8rem;
    font-weight: 600;
}
.featured .row .arrow {
    margin-left: 8px;
}

/* Featured list*/
.featured .list {
    display: flex;
    margin-top: 68px;
    min-height: 357px;
    gap: 30px;
}

.featured .item {
    flex: 1;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}
.featured .thumb {
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    height: 227px;
}
.featured .body {
    padding: 17px 20px 22px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.featured .item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5; /* 100% */
    word-break: break-all;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.featured .item .icon:first-child {
    margin-left: 0px;
}
.featured .item .icon {
    margin-left: 23px;
}
.featured .item .label {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.01em;
}

/* Stats */
.stats {
    /* background: #f5fafe; */
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1048px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}
.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

/* Stats trend */

.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.01em;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats-trend .separate {
    margin-top: 25px;
    background: #e9e9e9;
    width: 193.62px;
    height: 1.2px;
    flex-shrink: 0;
}

/* Avatar */

.stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.avatar-block .avatar-group {
    display: flex;
}

.stats-trend .avatar:first-child {
    margin-left: 0;
}

.avatar-block .avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: -3px;
    width: 16.3px;
    height: 16.3px;
    object-fit: cover;
    object-position: center;
    border-radius: 16.337px;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.1);

    background: var(--bg-color, #fff);
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.1));

    color: #fff;
    font-size: 0.7rem;
    font-weight: 450;
    letter-spacing: -0.145px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.3; /* 128.571% */
}

.stats .info .sub-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
}

/* Stats quantity */
.stats .row-qty {
    padding: 0 32px;
    margin-top: 110px;
    justify-content: space-between;
}

.qty-item .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.qty-item .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Subscription */

.subscription {
    margin-top: 51px;
    padding-top: 39px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;

    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    width: 671px;
    max-width: 100%;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .desc {
    --line-clamp: 3;
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875; /* 187.5% */
    opacity: 0.75;
}

.subscription .btn {
    min-width: 151px;
    margin-top: 20px;
    border-radius: 12px;
    background: #fff;

    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    width: 28.5px;
    height: 28.5px;
    border-radius: 5px;
    margin-right: 16px;
}

.footer .social-link:hover {
    background: #ebebeb;
}

.footer .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 81px;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
